/*
Navigation functionalities:
- When pages is loaded, pre-determined default page will be shown.
- When a navigation button is clicked, show only the corresponding section.
*/

/* Hide all the sections that are not targeted */
section:not(:target) {
    display: none;
}

/* Then, show only the default section. */
section:not(:target) + section:not(:target) + section {
    display: block;
}

/*
Dropdown functionalities:
- When the dropdown button is hovered, show the dropdown menu items.
- When the mouse leaves, hide the dropdown.
*/

.dropdown input[type=radio] {
    display: none;
}
.dropdown:not(:hover) label {
    display: none;
}
.dropdown input[type=radio]:checked + label {
    text-decoration: underline;
}
